<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBSFRYH0FvjjwaqU5BCh-lkeIgbFu44rs</string>
	<key>GCM_SENDER_ID</key>
	<string>138361529187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.softpati</string>
	<key>PROJECT_ID</key>
	<string>softpetapp-1ebfc</string>
	<key>STORAGE_BUCKET</key>
	<string>softpetapp-1ebfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138361529187:ios:d2ea4405316b6d09466956</string>
</dict>
</plist>